@import url('https://fonts.googleapis.com/css?family=Lekton|Molengo');

html {
  background: #0f0f0f;
  color: #ffffff;
}

h1{
  font-family: 'Molengo', sans-serif;
}

p{
  font-family: 'Lekton', sans-serif;
}
